<div class="home__container">
  <app-card [gameCover]="'assets/bt-1.jpg'" [gameLabel]="'Exclusive'" [gamePrice]="'R$ 299,90'" [gameType]="'PS5'" [gameAvailability]="'Disponivel'"></app-card>
  <app-card [gameCover]="'assets/bt-5.jpg'" [gameLabel]="'Promo'" [gamePrice]="'R$ 199,90'" [gameType]="'PS4'" [gameAvailability]="'Disponivel'"></app-card>
  <app-card [gameCover]="'assets/ac-cover.jpg'" [gameLabel]="'Promo'" [gamePrice]="'R$ 79,90'" [gameType]="'PS3'" [gameAvailability]="'Disponivel'"></app-card>
  <app-card [gameCover]="'assets/bt-hardline.jpg'" [gameLabel]="'Promo'" [gamePrice]="'R$ 99,90'" [gameType]="'PS4'" [gameAvailability]="'Disponivel'"></app-card>
</div>
